/* portable 768 - 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    #home {
        flex-direction: column;
        gap: 0;

        & h1 {
            margin-bottom: 1.5rem;
        }

        & .paragraph {
            text-align: center;
        }
    }

    .projects-container {
        max-width: 865px !important;
    }

}

/* portable 425px - 768px */
@media screen and (min-width: 426px) and (max-width: 768px) {

    main section {
        overflow: scroll;
    }

    .container {
        flex-direction: column;
        gap: 30px !important;
        margin-top: 40px;
    }
    
    .container-img>img {
        width: 180px !important;
    }

    .projects-container {
        max-width: 570px !important;
    }

}

@media screen and (max-width: 425px) {

    main section {
        overflow: scroll !important;
    }

    #home,
    #about {
        flex-direction: column;
        padding: .8rem 1rem;

        & .paragraph {
            text-align: none;
            padding: 1rem;
        }
    }

    .navbar.active {
        padding: 10px !important;
        width: 180px !important;
    }

    #about h2 {
        font-size: 24px !important;
        margin-block: 50px !important;
    }

    .container {
        height: fit-content !important;
        justify-content: center;
        gap: 10px !important;
    }

    .container-img>img {
        width: 150px !important;
    }

    .skills img {
        width: 30px !important;
    }

    #projects h2 {
        font-size: 24px !important;
    }

    #wrapper p {
        display: none !important;
    }

    .projects-container {
        flex-direction: column;
    }

}